<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notification from Rotten Mangoes, <%= @user.full_name %></h1>
    <p>
      The email <%=@user.email %> has been deleted from the system.<br>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>