<div class="text-center">
  <h1 class="text-center">Edit <%=@movie.title%></h1>

  <%= render 'form' %> 


  <%= link_to "Delete", movie_path(@movie), method: :delete, :"data-confirm" => "You sure?", class: "btn btn-danger" %><br>


  <%= link_to "Back to movie", movie_path(@movie), class: "btn btn-primary top-buffer"%>
</div>